/*styles for start page*/
.start-btn{
    width: 100%;
    max-width: 200px;
    padding: 10px 5px;
    border-radius: 10px;
}

.start-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}


/*clock*/
.clock{
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 5px 5px 5px 0;
    border-radius: 10px;
    text-align: center;
}
.clock p{
    font-size: 21px;
    color: white;
}
.am-pm{
    position: relative;
}
p.day-type{
    position: absolute;
    bottom: 4px;
    margin-left: 2px;
    font-size: 12px;
}
.date{
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}